<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.cpy.userdboperation.mapper.UserMapper">

    <select id="returnCount" resultType="java.lang.Long" parameterType="java.lang.String">
        select count(*) from task.user where status = 1
            <if test="userName != null and userName != ''">
                and userName like #{userName}"%"
            </if>
    </select>

    <select id="selList" resultType="com.cpy.userdboperation.encapsulation.EncapUser" parameterType="com.cpy.userdboperation.encapsulation.EncapPage">
        select userId, userName, sex, birthday, numberId, mobilePhone, email, qq, weChat, academicCareer, birthplace, nowPlace, company, note from task.user where status = 1
            <if test="userName != null and userName != ''">
                and userName like #{userName}"%"
            </if>
            <if test="record != null and recordSize != null">
                limit #{record},#{recordSize}
            </if>
    </select>

    <select id="selUserById" resultType="com.cpy.userdboperation.encapsulation.EncapUser" parameterType="java.lang.Long">
        select userId, userName, sex, birthday, numberId, mobilePhone, email, qq, weChat, academicCareer, birthplace, nowPlace, company, note from task.user where userId = #{userId} and status = 1
    </select>

    <update id="updataUser" parameterType="com.cpy.userdboperation.pojo.User">
        UPDATE task.user SET userName=#{userName}, sex=#{sex}, birthday=#{birthday}, numberId=#{numberId}, mobilePhone=#{mobilePhone}, email=#{email}, qq=#{qq}, weChat=#{weChat}, academicCareer=#{academicCareer}, birthplace=#{birthplace}, nowPlace=#{nowPlace}, company=#{company}, updateDate=SYSDATE() WHERE userId = #{userId}
    </update>

    <update id="updataPassWord" parameterType="com.cpy.userdboperation.encapsulation.EncapPostPwd">
        UPDATE task.user SET passWord = #{passWord} updateDate=SYSDATE() WHERE userId = #{userId}
    </update>

    <!-- 删除用户 （更新用户状态）-->
    <update id="updateStatus" parameterType="java.lang.Long">
        UPDATE task.user SET status = 0 WHERE userId = #{userId}
    </update>

    <insert id="insertUser" parameterType="com.cpy.userdboperation.pojo.User">
        insert into task.user(userName, sex, passWord,numberId,mobilePhone,email,qq,weChat,academicCareer,birthplace,nowPlace,company,updateDate,createDate,status) values(#{userName},#{sex},#{passWord},#{numberId},#{mobilePhone},#{email},#{qq},#{weChat},#{academicCareer},#{birthplace},#{nowPlace},#{company},sysdate(),sysdate(),1)
    </insert>

    <!--
    <delete id="delUserById" parameterType="java.lang.Long">
        DELETE FROM task.user WHERE userId = #{userId};
    </delete>

    <select id="selUserByNameSexBirthday" resultType="com.cpy.userdboperation.pojo.User" parameterType="com.cpy.userdboperation.pojo.User">
        select userId, userName, sex, birthday, mobilePhone, email, qq, weChat, academicCareer, birthplace, nowPlace, company, note from task.user
            <where>
                <if test=" userName != null and userName !=''">
                userName Like "%"#{userName}"%"
                </if>
                <if test=" sex != null">
                    and sex = #{sex}
                </if>
                <if test=" birthday != null">
                    and birthday = #{birthday}
                </if>
            </where>
    </select>

    <select id="selUserByBirthplace" resultType="com.cpy.userdboperation.pojo.User" parameterType="java.lang.String">
        select userId, userName, sex, birthday, mobilePhone, email, qq, weChat, academicCareer, birthplace, nowPlace, company, note from task.user where birthplace like "%"#{birthplace}"%"
    </select>

    <select id="selUserByNowPlace" resultType="com.cpy.userdboperation.pojo.User" parameterType="java.lang.String">
        select userId, userName, sex, birthday, mobilePhone, email, qq, weChat, academicCareer, birthplace, nowPlace, company, note from task.user where nowPlace like "%"#{nowPlace}"%"
    </select>

    <select id="selUserByCompany" resultType="com.cpy.userdboperation.pojo.User" parameterType="java.lang.String">
        select userId, userName, sex, birthday, mobilePhone, email, qq, weChat, academicCareer, birthplace, nowPlace, company, note from task.user where company like "%"#{company}"%"
    </select>

    <select id="selUserByAcademicCareer" resultType="com.cpy.userdboperation.pojo.User" parameterType="java.lang.String">
        select userId, userName, sex, birthday, mobilePhone, email, qq, weChat, academicCareer, birthplace, nowPlace, company, note from task.user where academicCareer = #{academicCareer}
    </select>

-->
</mapper>